import React from 'react';
import {{reactSvgComponentName}} from "@/components/expo/{{ reactSvgComponentName }}" ;
import style from "./css/index.less" ;
export default function(){
    return (
        <div>
			       <{{reactSvgComponentName}}/>  
            <div className={style['layout']}>
                
            </div>
	  	</div>
    )
};